body {
    margin: 0;
    padding: 0;
    width: 100%;
}

#left-column {
    width: 60%;
    float: left;
    background-color: #54D260;
    height: 200%;
}

img#logo {
    position: fixed;
    width: 150px;
    bottom: 20px;
    right: 10px;
}

#person {
    margin-top: 100px;
}